*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 1px solid red;
  font-size: 16px; 
  font-family: monospace;
  color: black;
}

body {
  background-color: #1F618D;
  overflow: hidden;
}

p {
  font-size: 1.3em;
}

button {
  outline: none;
  background-color: green;
  font-size: 1.3em;
}

li {
  list-style: none;
}

.outside {
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 6px solid yellow;
}

.top-bar p{
 float: right;
}

h1 {
  text-align: center;
}

.quiz-container {
 background: aquamarine;
 height: 100%;
 width: 50%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.quiz-start, main {
  margin-bottom: 25vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: whitesmoke;

}

.quiz-start p {
  text-align: center;
}

.quiz-start button {
  display: block;
  margin: 0 auto;
}

main {
  display: none;
}