*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 1px solid red;
  font-size: 16px; 
  font-family: monospace;
  color: black;
}

body {
  background-color: #1F618D;
  overflow: hidden;
}

p {
  font-size: 1.3em;
}

button {
  outline: none;
  background-color: green;
  font-size: 1.3em;
}

.outside {
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 6px solid yellow;
}

.top-bar p{
 float: right;
}


.quiz-container {
 background: aquamarine;
 height: 100%;
 width: 50%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.quiz-start {
  margin-top: 25vh;
}